<?php
return array(
    'db' => array(
        'adapters' => array(
            'database' => array(
                'charset' => 'utf8',
                'database' => 'dotkernel',
                'driver' => 'PDO_Mysql',
                'hostname' => 'localhost',
                'username' => 'root',
            ),
        ),
    ),
    'zf-mvc-auth' => array(
        'authentication' => array(
            'adapters' => array(
                'oauth2' => array(
                    'adapter' => 'ZF\\MvcAuth\\Authentication\\OAuth2Adapter',
                    'storage' => array(
                        'route' => '/oauth',
                        'storage' => 'DotBase\\OAuth\\Adapter\\PdoAdapter',
                    ),
                ),
            ),
        ),
    ),
);