<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'db' => array(
        'adapters' => array(
            'database' => array(
                'charset' => 'utf8',
                'database' => 'dotkernel',
                'driver' => 'PDO_Mysql',
                'hostname' => 'localhost',
                'username' => 'db_username',
            ),
        ),
    ),
    'zf-mvc-auth' => array(
        'authentication' => array(
            'adapters' => array(
                'authentication' => array(
                    'adapter' => 'ZF\\MvcAuth\\Authentication\\OAuth2Adapter',
                    'storage' => array(
                        'adapter' => 'pdo',
                        'dsn' => 'mysql:hostname=localhost;dbname=dotkernel',
                        'route' => '/oauth',
                        'username' => 'username',
                    ),
                ),
            ),
        ),
    ),
    'zf-oauth2' => array(
        'db' => array(
            'dsn'      => 'mysql:hostname=localhost;dbname=dotkernel',
            'username' => 'username',
            'password' => 'password',
        ),
        'storage_settings' => array(
            'user_table' => 'user',
        ),
    ),
);

